[Unit]
Description=Sudoku Solver Twitter Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/home/pi/work/sudoku_solver/sudoku_solver -d  /home/pi/work/sudoku_solver/sudoku_solver.json

[Install]
WantedBy = multi-user.target

